

{%include "header.html"%}
    <header class="masthead">
        <div class="h1-div container-fluid">
            <h1 class="">
                Hotels In Festac
            </h1>
            <p>
                Welcome to Mi-Dev hotel service, we offer the best hotel advice in festac to our esteemed users
            </p>
        </div>
    </header>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">


          </div>
        </div>
      </div>



{% include "footer.html"%}