{% import "bootstrap/wtf.html" as wtf %}

{% include "header.html"%}
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/register.jpg')}}')">
        <div class="h1-div container-fluid">
            <h1 class="">
                Register
            </h1>
            <p>
                Become a user of this service
            </p>
        </div>
    </header>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-8 mx-auto">

           {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "outline-primary"}) }}

          </div>
        </div>
      </div>


{% include "footer.html"%}